@media (max-width: 1570px) {
    .content-form .form-box {
        margin-left: 130px;
    }

    .content-card .card-front {
        left: 25%;
    }

    .content-card .card-back {
        left: 45%;
    }
}

@media (max-width: 1300px) {
    .content-card .card-front {
        left: 15%;
    }

    .content-card .card-back {
        left: 35%;
    }

    .content-card .card {
        width: 397px;
        height: 215px;
    }

    .content-card .card-front .card-info .info-number p {
        font-size: 30px;
    }
}

@media (max-width: 1200px) {
    .content-card .card {
        width: 357px;
        height: 185px;
    }

    .content-card .card-front .card-logo img {
        width: 64px;
        height: 35px;
    }

    .content-card .card-front .card-info .info-number p {
        font-size: 26px;
    }

    .content-card .card-front .card-info .info-name-data p {
        font-size: 14px;
    }

    .content-form .form-box {
        width: 380px;
    }
}

@media (max-width: 992px) {
    .base-hg-content {
        display: block;
        height: 615px;
    }

    .content-card {
        background: url(./../images/bg-main-mobile.png) no-repeat;
        background-size: 100%;
        width: 100%;
        height: 45%;
    }

    .content-card .card-front {
        position: absolute;
        top: 15%;
        left: 25%;
        z-index: 1;
    }

    .content-card .card-back {
        top: 10%;
        left: 35%;
    }

    .content-form {
        width: 100%;
        align-items: flex-end;
    }

    .content-form .form-box {
        margin-top: 10%;
        margin-left: 0;
        width: 440px;
    }
}

@media (max-width: 720px) {
    .content-card .card-front {
        left: 15%;
    }

    .content-card .card-back {
        left: 25%;
    }
}

@media (min-width: 375px) and (max-width: 520px) {
    .content-card .card {
        width: 18rem;
        height: 11.5rem;
    }

    .content-card .card-front {
        left: 5%;
    }

    .content-card .card-back {
        left: 15%;
    }

    .content-card .card-front .card-logo img {
        width: 25%;
        height: 85%;
    }

    .content-card .card-front .card-info .info-number p {
        font-size: 20px;
    }

    .content-form .form-box {
        width: 80%;
    }

    .content-form .form-box form fieldset .name-number .labels-text {
        gap: 20%;
    }
}

@media (max-width: 420px) {
    .content-form .form-box form fieldset .name-number .labels-text {
        gap: 15%;
    }
}
